<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Welcome to 99cats!!, <%= @user.username %></h1>
    <p>
    Thank you for signing up!, your username is <%= @user.username %><br />
    </p>
    <p>
    You can log in using this link: <%= @url %>
    </p>

  </body>


</html>